      .container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: repeat(8, 1fr);
        /* gap: 5px; */
        margin: 10px;
        background-color: black;
      }

      .square {
        height: 10px;
        width: 10px;
        border: 1px solid white;
      }